*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 80px;
    background: linear-gradient(60deg, violet, dodgerblue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.main{
    width: 100%;
    background: #f7f7f7;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px 5%;
}
.left_side{
    height: 83vh;
    position: sticky;
    top: 110px;
}
.right_side{
    height: 100%;
}
.form{
    display: flex;
    position: relative;
}
.inp_text{
    width: calc(100% - 80px);
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: 1px solid dodgerblue;
    text-indent: 10px;
    background: transparent;
    outline: none;
}
.form input[type="submit"]{
    width: 80px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    border: 1px solid dodgerblue;
    background: dodgerblue;
    color: #fff;
}
.white_tg{
    position: absolute;
    top: 5px;
    right: 30px;
    transform: rotate(30deg);
    font-size: 25px;
    color: #fff;
    z-index: 2;
}
.fly_tg{
    position: absolute;
    top: 5px;
    right: 30px;
    transform: rotate(30deg);
    font-size: 25px;
    color: dodgerblue;
    animation: fly .6s linear forwards;
}
@keyframes fly {
    20%{
        top: 25px;
        right: -20px;
    }
    40%{
        top: 45px;
        right: -50px;
    }
    60%{
        top: 45px;
        right: -80px;
        transform:rotate(30deg) scale(1);
    }
    80%{
        top: 35px;
        right: -100px;
        transform:rotate(30deg) scale(.7);
        opacity: 1;
    }
    100%{
        top: 25px;
        right: -130px;
        transform: scale(0);
        opacity: 0;
    }
}
.content{
    width: 80%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.content::-webkit-scrollbar{
    width: 5px;
}
.content::-webkit-scrollbar-thumb{
    background-color: dodgerblue;
    border-radius: 5px;
}
.box{
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #0002;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: .3s;
    position: relative;
    display: flex;
    padding: 18px;
}
.box:last-child{
    animation: box .5s forwards;
    transform: scale(0.7);
    opacity: 0;
}
@keyframes box {
    to{
        transform: scale(1);
        opacity: 1; 
    }
}
.box:hover{
    box-shadow: 0 0 15px #0003;
}
.desc{
    flex: 1;
    word-break: break-all;
}
.circle{
    width: 45px;
    height: 45px;
    background-color: red;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 22px;
    margin-right: 16px;
}
.time{
    position: absolute;
    right: 16px;
    bottom: 5px;
    font-size: 13px;
    color: #555;
}
.fa-trash-can{
    color: red;
    margin-left: 16px;
    cursor: pointer;
}
.fa-pen-to-square{
    color: green;
    cursor: pointer;
}


.delete_modal{
    width: 400px;
    height: 240px;
    background-color: #fff;
    position: fixed;
    top: -240px;
    transition: 0.5s ease-in;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #0003;
}
.show_del{
    top: 100px;
}
.delete_modal p{
    color: #999;
    font-size: 28px;
    padding-bottom: 22px;
}
.delete_modal i{
    font-size: 50px;
    padding-bottom: 22px;
}
.del_yes,
.del_no{
    width: 120px;
    height: 34px;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.del_yes{
    background-color: dodgerblue;
}
.del_no{
    background-color: red;
}
